.container{
    display: flex;
    justify-content: space-around;
    
}

.leftSideNavbar{
    display: flex;
}
.items{
    list-style: none;
    padding:10%;
    font-size:1rem;
}
.logo{
   color: #50b8e7;
   font-weight: 700;
  
}