.container{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    font-weight: 300;
    font-size:0.8rem;
    margin-bottom: 0.3rem;
    width:70%;
}
.links{
    display: flex;
    
}
.items{
    padding-left:1rem;
}
.footext{
    padding:10px;
}
.line{
    width:100%;
    opacity: 0.2;
}
.linkitems{
    text-decoration: none;
    
}
@media (max-width: 350px) {
   .container{
    width: 100%;
   }
   }