.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  width:50%;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    
    padding:2rem;
}

.posts{
    width:30vw;
}
.image{
    width:10rem;
    height:10rem;
   
    border-radius: 30%;
}
.para{
    padding:1rem;
}