.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  width:50%;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    
    padding:2rem;
}

.posts{
    width:30vw;
}
.image{
    width:10rem;
    height:10rem;
   
    border-radius: 30%;
}
.para{
    padding:1rem;
}
.icon{
    width:25px;
    height:25px;
    margin:2px;
    margin-top:10px;
    position: absolute;
    top:0px;
    right:75%;
    top:20%;

}
.link{
    padding:2rem;
    width:25px;
    height:25px;
    margin-bottom:1rem;
    position: relative;
    text-decoration: none;
    color: #50b8e7;
    font-weight: 700;
}